<h1>this will be a showpage</h1>

<h4> <%= @animal.name %> <%= @animal.species %> </h4>


<%= link_to delete_animal_path(@animal), method: "delete" do %>
  <div class="button danger">
    Delete
  </div>
<% end %>

<%= link_to animals_path do %>
  <div class="button prim">
    All the Animals!
  </div> 
<% end %>